.form_page_container

  %h2.page_title
    .h2_accent
    %span プロフィール

  .form_error
    %ul
      - @profile.errors.full_messages.each do |message|
        %li.form_error_message= message

  .white_container.form_container
    = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|

      .form_contents
        .form_item
          .form_label= f.label :avatar, 'アバター'
          %div= f.file_field :avatar, class: 'form_file'

        .form_item
          .form_label
            = f.label :name, '名前'
            %span.required *
          %div= f.text_field :name, class: 'form_input'

        .form_item
          .form_label= f.label :introduction, '自己紹介'
          %div= f.text_area :introduction, class: 'form_textarea', placeholder: '最大100文字'

        .form_item
          .form_label= f.label :course, '受講コース'
          %div= f.select :course, Profile.courses.map { |k, v| [ I18n.t("enum.courses.#{k}"), k ] },{}, class: 'form_select'

        .form_item
          .form_label= f.label :x_url, 'Xアカウント'
          %div= f.text_field :x_url, class: 'form_input', placeholder: 'https://x.com/...'

        .form_item
          .form_label= f.label :github_url, 'GitHubアカウント'
          %div= f.text_field :github_url, class: 'form_input', placeholder: 'https://github.com/...'

        .form_item
          .form_label= f.label :comment, 'つぶやき'
          %div= f.text_area :comment, placeholder: '💭 話したいテーマ・目標・悩みなどを共有しましょう（最大80文字）', class: 'form_textarea'

      .form_action
        = f.submit '保存', class: 'form_button'
