= calendar(number_of_days: 1, events: schedules, start_date_param: :about) do |date, schedules|

  - if todays_schedule_count(schedules, date).present?
    - schedules.each do |schedule|
      - if schedule.start_time.to_date == date
        .day_schedule
          .day_schedule_top
            .day_schedule_time
              %span.start_time= schedule.display_start_time
              %span -
              %span.end_time
                %span.next_day= schedule.display_next_day
                %span= schedule.display_end_time
            .day_schedule_status #{I18n.t("enum.status.#{schedule.status}")}

          .day_schedule_contents
            = link_to room_member_path(room_id: schedule.room, id: schedule.creator) do
              .avatar
                = image_tag schedule.creator.avatar_image

            - if schedule.creator.comment.present?
              %div{ data: { controller: 'comment' } }
                .day_schedule_user_comment{ data: { action: 'click->comment#displayUserComment' } }
                  %span.comment_icon 💭

                .day_schedule_user_comment_detail.hidden{ data: { comment_target: 'userComment' } }
                  %span.comment_text= schedule.creator.comment

            .day_schedule_text_content
              .day_schedule_creator= schedule.creator.name
              .day_schedule_comment= schedule.comment

          = render 'apps/rooms/participants_count', schedule: schedule

          - if schedule.active?
            .day_schedule_action
              - if schedule.creator == current_user
                = link_to '編集', edit_room_schedule_path(room_id: @room, id: schedule), class: 'schedule_edit'
              - else
                = render 'apps/rooms/participation_button', room: @room, schedule: schedule

  - else
    .day_schedule_none
      .day_schedule_none_icon 📅
      .day_schedule_none_message この日の予定はまだありません
