= calendar(number_of_days: 1, events: schedules, start_date_param: :about) do |date, schedules|

  - if todays_schedule_count(schedules, date).present?
    - schedules.each do |schedule|
      - if schedule.start_time.to_date == date
        .day_schedule
          .day_schedule_top
            .day_schedule_time
              %span.start_time= schedule.display_start_time
              %span -
              %span.end_time
                %span.next_day= schedule.display_next_day
                %span= schedule.display_end_time
            .day_schedule_status #{I18n.t("enum.status.#{schedule.status}")}

          .day_schedule_contents
            .avatar
              = image_tag schedule.creator.avatar_image

            .day_schedule_text_content
              .day_schedule_creator= schedule.creator.name
              .day_schedule_comment= schedule.comment

          - count = schedule.participants.count
          .schedule_participants.day_schedule_participants{ class: count > 0 ? 'active' : nil }
            .schedule_participants_icon 👥
            %div= "#{count}人参加中"

          .day_schedule_action
            - if schedule.creator == current_user && schedule.end_time > Time.current
              = link_to '編集', edit_room_schedule_path(room_id: @room, id: schedule), class: 'schedule_edit'

            - if schedule.active? && schedule.creator != current_user
              - if current_user.has_participated?(schedule)
                = link_to '参加をキャンセル', room_schedule_participation_path(room_id: @room, schedule_id: schedule), data: { turbo_method: :delete, turbo_confirm: '参加をキャンセルしますか？' }, class: 'schedule_cancel'
              - else
                = link_to '一緒に参加する', room_schedule_participation_path(room_id: @room, schedule_id: schedule), data: { turbo_method: :post}, class: 'schedule_participate'
  - else
    .day_schedule_none
      .day_schedule_none_icon 📅
      .day_schedule_none_message この日の予定はまだありません
