.day_schedule_participants_section{ id: "participants_count_#{schedule.id}", data: { controller: 'participants' } }
  - count = schedule.participants.size

  .schedule_participants.day_schedule_participants{ class: count > 0 ? 'active' : nil , data: { action: 'click->participants#displayParticipants' }}
    .schedule_participants_icon 👥
    %div= "#{count}人参加中"

  - if count > 0
    .hidden{ data: { participants_target: 'participantsList' } }
      %ul.schedule_participants_list
        - schedule.participants.each do |participant|
          = link_to room_member_path(room_id: schedule.room, id: participant), class: 'schedule_participant_link' do
            %li.schedule_participant
              .avatar= image_tag participant.avatar_image
              = participant.display_name
