.form_page_container.room_form_page_container
  = render 'common/room_tab'

  .white_container.room_form_container
    .room_form_title
      %h2 新しいルームを作成
      %p あなたが管理者となる新しいルームを作成します

    %ul.form_error.room_form_error
      - @room.errors.full_messages.each do |message|
        %li.form_error_message.room_form_error_message= message

    .form_container
      = form_with(model: @room, url: rooms_path, method: 'post', local: true) do |f|

        .form_contents
          .form_item
            .form_label
              =f.label :name, 'ルーム名'
              %span.required *
            %div= f.text_field :name, class: 'form_input'

          .form_item
            .form_label
              =f.label :room_key, 'ルームキー（合言葉）'
              %span.required *
            %div= f.text_field :room_key, class: 'form_input', placeholder: '6文字以上'
            %p.form_comment 他のユーザーがこのルームに参加するための合言葉です

          .form_item
            .form_label=f.label :description, '説明（任意）'
            %div= f.text_area :description, class: 'form_textarea'

        .form_action
          = f.submit 'ルームを作成', class: 'form_button room_form_button'
