.simple-calendar
  .calendar-heading
    %time.calendar-title{:datetime => "#{start_date.strftime('%Y-%m')}"}
      %button.month_calendar_button= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view, data: { turbo_stream: true }
      %button.month_calendar_button.selected_month= l(start_date, format: :long_ym)
      %button.month_calendar_button= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view, data: { turbo_stream: true }
      %button.month_calendar_button.back_today= link_to '今日', url_for(start_date: Time.current.to_date, about: Time.current.to_date), data: { turbo_stream: true }

    %button.new_schedule_button= link_to '+ 予定を作成', new_room_schedule_path(@room)

  %table.table.table-striped
    %thead
      %tr
        - date_range.slice(0, 7).each do |day|
          %th.day_name{class: add_weekends_class(day)}= t('date.abbr_day_names')[day.wday]
    %tbody
      - date_range.each_slice(7) do |week|
        %tr
          - week.each do |day|
            = content_tag :td, class: calendar.td_classes_for(day) do
              - instance_exec(day, calendar.sorted_events_for(day), &passed_block)
