.app_top_page_container

  = render 'common/app_top_title'

  .white_container.authentication_form_container
    = render 'common/authentication_tab'

    .form_container
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

        .form_contents
          .form_item
            .form_label= f.label :email
            %div= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form_input', placeholder: 'example@email.com'

          .form_item
            .form_label= f.label :password
            %div= f.password_field :password, autocomplete: "current-password", class: 'form_input', placeholder: 'パスワードを入力'

          - if devise_mapping.rememberable?
            .remember_check
              = f.check_box :remember_me
              .div= f.label :remember_me

        .form_action
          = f.submit 'ログイン', class: 'form_button authentication_form_button'
