- if @room.present?
  .my_room_container
    %h2.my_room_title
      %div 所属ルーム
      %p ルームを選択するか、新しいルームを作成・参加してください

    %section.room_button_section
      = link_to '+ 新しいルームを作成', new_room_path, class: 'new_room_button'
      = link_to '🔑 ルームに参加', new_membership_path, class: 'join_room_button'


    %section.room_section
      - @room.each do |room|
        .white_container.room_cards
          .room_name= room.name
          %ul.room_counts
            %li
              .room_count_label メンバー
              .room_count= "#{room.members.count}人"
            %li
              .room_count_label 予定
              .room_count= "#{room.schedules.active.count}件"
          = link_to "入室する →", room_path(room, start_date: Time.current.strftime("%Y-%m-%d"), about: Time.current.strftime("%Y-%m-%d")), class: 'room_in_button'

- else
  .no_room_content
    %h3 🏠 まだルームに参加していません
    %p 新しいルームを作成するか、既存のルームに参加してください

    %section.room_button_section
      = link_to '+ 新しいルームを作成', new_room_path, class: 'new_room_button'
      = link_to '🔑 ルームに参加', new_membership_path, class: 'join_room_button'
