.white_container.mypage_selected_contents
  .my_page_schedule

    - if schedules.present?
      - schedules.each do |schedule|
        .content_box.schedule
          = link_to room_path(id: schedule.room, about: schedule.start_time.to_date), class: 'schedule_card_link' do
            .schedule_content
              .schedule_time_date
                .schedule_time
                  %span= schedule.display_start_time
                  %span -
                  %span.next_day= schedule.display_next_day
                  %span= schedule.display_end_time
                .schedule_date= schedule.display_date

              .schedule_creator_participants
                - count = schedule.participation_relationships.size
                - if controller_action?('created_schedules', action = 'index')
                  .schedule_participants{ class: count > 0 ? 'active' : nil }
                    .schedule_participants_icon 👥
                    %div= "#{count}人参加中"
                - else
                  .schedule_creator
                    .schedule_avatar= image_tag schedule.creator.avatar_image
                    %span= schedule.creator.name
                  %span.schedule_participants{ class: count > 0 ? 'active' : nil }
                    .schedule_participants_icon 👥
                    %div= "#{count}人参加中"
                .schedule_room= schedule.room.name

          .schedule_action
            - if controller_action?('created_schedules', action = 'index')
              = link_to '編集', edit_room_schedule_path(room_id: schedule.room, id: schedule), class: 'schedule_edit'

    - else
      .content_box.active.none
        .none_message 🌱 現在予定はありません
