%footer.footer
  .footer_container
    .footer_copyright
      %p © 2026 RoomSync by tsuki. All rights reserved.

    %nav.footer_quick_links
      = link_to 'プライバシーポリシー', privacy_policy_path
      %span.divider= '|'
      = link_to '利用規約', terms_of_service_path
      %span.divider= '|'
      = link_to 'お問い合わせ', 'https://x.com/Oa_oden', target: '_blank', rel: 'noopener noreferrer'
