%header
  .header_container
    .header_left
      .logo
        .app_icon R
        .app_logo RoomSync

      - if controller_action?('rooms')
        .header_room_name
          %span 🏠
          %span.room_name= @room.name
      - else
        = link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: 'delete'}, class: 'logout'

    - if controller_action?('profiles', ['edit', 'update'])
      = link_to '← 戻る', profile_path, class: 'page_back'

    - elsif controller_action?('rooms', ['new', 'create']) || controller_action?('memberships', ['new', 'create'])
      = link_to '← 戻る', my_room_path, class: 'page_back'

    - else
      %nav
        %ul
          %li= link_to 'ルーム一覧', my_room_path, class: 'header_nav_link'
          %li= link_to 'マイページ', profile_path, class: 'header_nav_link'
